<h1>Your current cart</h1>
<% if cart.empty? %>
  Your cart is currently empty.
  <br><br>
<% else %>
  <ul>
    <%= cart.each do |item| %>
      <li><%= item %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag products_index_path do %>
  <label>Add item to your cart:</label><br><br>
  <input type="text" name="cart" id='product'><br><br>

  <input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token %>">

  <input type="submit" value="Add to Cart" id='add to cart'><br><br>
<% end %>
